body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

h1 {
    color: #4CAF50;
}

.controls {
    margin: 20px 0;
}

select {
    padding: 10px;
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #222;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #4CAF50;
}
