body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEE;
}

#game-container {
    position: relative;
    height: 200px;
    width: 90%;
    max-width: 600px;
    border: 1px solid black;
}

#player {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #000;
}

#obstacle {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 25px;
    height: 50px;
    background: #F00;
    animation: move 2s infinite linear;
}

@keyframes move {
    0% { right: -50px; }
    100% { right: 100%; }
}

@keyframes jump {
    0% { bottom: 0; }
    50% { bottom: 100px; }
    100% { bottom: 0; }
}

.animate {
    animation: jump 0.5s;
}

@media screen and (max-width: 768px) {
    #game-container {
        height: 300px;
    }

    #player {
        width: 75px;
        height: 75px;
    }

    #obstacle {
        width: 37.5px;
        height: 75px;
    }

    @keyframes jump {
        0% { bottom: 0; }
        50% { bottom: 150px; }
        100% { bottom: 0; }
    }
}
