body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEE;
}

#game-container {
    position: relative;
    height: 200px;
    width: 90%;
    max-width: 600px;
    border: 1px solid black;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    #game-container {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #game-container {
        width: 80%;
    }
}

@media (min-width: 1025px) {
    #game-container {
        width: 60%;
    }
}

#player {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: #000;
}

#obstacle {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 25px;
    height: 50px;
    background: #F00;
    animation: move 2s infinite linear;
}

@keyframes move {
    0% { right: -50px; }
    100% { right: 100%; }
}

@keyframes jump {
    0% { bottom: 0; }
    50% { bottom: 100px; }
    100% { bottom: 0; }
}

.animate {
    animation: jump 0.5s;
}

.duck {
    height: 25px !important;
}
