body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#downloadButton {
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #008CBA;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin: 5 5 5 5px;
}

@media (min-width: 600px) {
    #downloadButton {
        font-size: 2.5rem;
        padding: 1.5rem 3rem;
    }
}

@media (min-width: 900px) {
    #downloadButton {
        font-size: 3rem;
        padding: 2rem 4rem;
    }
}
