

#colors {
    position: fixed; /* Fija la barra de colores en la parte inferior */
    bottom: 0; /* Alinea al fondo */
    left: 0; /* Alinea a la izquierda */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto total del elemento */
    padding: 10px 0; /* Agrega padding vertical */
    background-color: white; /* Un color de fondo */
    border-top: 1px solid #ccc; /* Un borde superior para separación visual */
    display: flex;
    justify-content: center; /* Centra los elementos de color */
    align-items: center;
    margin: 0;
}

.color {
    width: 40px; /* Aumenta el tamaño para facilitar el clic */
    height: 40px; /* Aumenta el tamaño para facilitar el clic */
    border-radius: 50%; /* Los hace circulares */
    margin: 0 10px; /* Espacio horizontal entre colores */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
}

/* Asegúrate de incluir también cualquier otro estilo CSS que hayas tenido previamente */
.color-picker {
    height: 40px; /* Alinea la altura con los botones de colores */
    border: none; /* Opcional: remueve el borde para un look más integrado */
    margin-left: 10px; /* Para mantener la consistencia con el espaciado de .color */
    cursor: pointer;
}