body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #008B00 0%, #E9FE4E 100%);
}
.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px
}
.container table {
    width: 40%; /* O el ancho que prefieras */
    margin: auto; /* Centra la tabla horizontalmente dentro del contenedor */
}
.container td, .container th {
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    color: #00008B;
}

#displayArea {
    font-size: 1.3rem;
    font-weight: bold;
    width: 200px;
    overflow-wrap: break-word;
    margin: 10px
}

#scoreArea {
    font-size: 2rem;
    font-weight: bold;
    color: #0b0a24;
}

input {
    font-size: 1rem;
    padding: 10px;
    border: 2px solid #00008B;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #00008B;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #119cff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
    color: #212529;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(74, 69, 69, 0.831),0 0 10px white;
    text-align: center;
    margin: 10px;
    background-color: #ffffff;

}
.footer1 {
    position: relative;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
    color: #212529;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(74, 69, 69, 0.831),0 0 10px white;
    text-align: center;
    margin: 10px;
    background-color: #ffffff;
}
.footer1 button {
    margin: 0 20px;
}

.footer button {
    margin: 0 20px;
}
textarea {
    width: 100px;
    height: 50px;
    font-size: 1.3rem;
    border: 1px solid black;

}
#timeArea{
    position: relative;    
    margin: 0 20px;
}
.logo {
    width: 50px; 
    height: auto; 
    position: absolute;
    top: 8px; 
    left: 8px; 
}

.button-container button {
    margin: 0 10px; 
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones-horizontal {
    display: flex;
    justify-content: center; 
}

.botones-horizontal button {
    padding: 5px 10px;
    font-size: 12px; 
}

@media (max-width: 958px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        flex-direction: column;

    }
    .botones-horizontal button {
        padding: 3px 8px; 
        font-size: 10px; 
    }
    .botones-horizontal {

        gap: 3px;
    }
    .logo {
        width: 25px;
        height: auto;
        position: absolute;
        top: 3px; 
        left: 0;
        right: 0;
        margin: auto; 
    }
    .container {
        margin: 30px 0 0 0;
        width: 85vw;
        height: auto;
        flex-direction: column;

    }
    .footer button {
        margin: 5px;  
    }
    .footer1 button {
        margin: 5px;  
    }
    #timeArea{
        position: relative;    
        padding-top: 5px;
    }
    .h{    align-items: center;
        justify-content: center;}
}
.dark-mode body {
    background: black;
    color: #fff;
}

.dark-mode .footer {
    background-color: #777;
}
.dark-mode .footer1 {
    background-color: #777;
}
.dark-mode .container{
    background-color: #333;
}
.dark-mode h1 {

    color: #A0A7AC;
}
.dark-mode button {

    background-color: black;
}
.dark-mode button:hover {

    background-color: #A0A7AC;
}
.dark-mode input  {

    border: 2px solid black;
    background-color: #A0A7AC;
}
.dark-mode #displayArea  {
    background-color: #555;
    color: white;
}
.dark-mode #scoreArea  {
    color: white;
}
